.welcome {
    text-align: center;
    margin-top: 100px;
}

.task-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task {
    background-color: rgb(232, 236, 239);
    width: 400px;
    height: 70px;
    margin-top: 15px;
    border-radius: 8px;
    justify-content: space-between;
    display: flex;
    padding-left: 10px;
    align-items: center;
    box-shadow: 1px 1px 1px gray;
    opacity: 0;
    animation: task 2s forwards;
}

.choice {
    padding-right: 10px;
    display: flex;
    width: 60px;
    justify-content: space-around;
}

.edit, .complete, .delete {
    font-size: larger;
}

.edit {
    color: rgb(43, 109, 202);
}

.edit:hover {
    cursor: pointer;
    color: rgb(113, 164, 235);
}

.delete {
    color: red;
}

.delete:hover {
    cursor: pointer;
    color: rgb(235, 113, 119);
}

.complete {
    color: rgb(6, 220, 106);
}

.complete:hover {
    cursor: pointer;
    color: rgb(16, 247, 124);
}

@keyframes task {
    0% { opacity: 0; }
    100% { opacity: 1;}
}

@media screen and (max-width: 500px) {
    .task {
        width: 90%;
    }
}


